@import url("font.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --columnOneColor: hsl(31, 77%, 52%);
  --columnTwoColor: hsl(184, 100%, 22%);
  --columnThreeColor: hsl(179, 100%, 13%);
  --grayColor: hsla(0, 0%, 100%, 0.75);
  --whiteColor: hsl(0, 0%, 95%);
}

body {
  background-color: var(--grayColor);
  color: var(--whiteColor);
  font-size: 15px;
  font-family: lexendReg;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.one {
  background-color: var(--columnOneColor);
}

.two {
  background-color: var(--columnTwoColor);
}

.three {
  background-color: var(--columnThreeColor);
}

h1 {
  font-family: bigBold;
  font-size: 3rem;
}

p {
  color: var(--grayColor);
  line-height: 1.7em;
}


.container {
  max-width: 80%;
}

.preview-card {
  padding: 3em;
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
}


.cta {
  text-align: center;
  background-color: var(--whiteColor);
  max-width: 50%;
  padding: 1em;
  border-radius: 2em;
  cursor: pointer;
}

.cta-one {
  color: var(--columnOneColor);
}

.cta-two {
  color: var(--columnTwoColor);
}

.cta-three {
  color: var(--columnThreeColor);
}

.cta:hover {
  border: 1px solid var(--whiteColor);
  color: var(--whiteColor);
  background: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */

@media (min-width:1440px) {
  .container {
    display: flex;
    max-width: 60%;
  }

  .cta {
    margin-top: 5em;
  }
}